<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button  class="navbar-toggler"
             type="button"
             data-toggle="collapse"
             data-target="#navbarsExampleDefault"
             aria-controls="navbarsExampleDefault"
             aria-expanded="false"
             aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <f:for each="{mainnavigation}" as="mainnavigationItem">
                <li class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')}">
                    <a class="nav-link"
                       href="{mainnavigationItem.link}"
                       target="{mainnavigationItem.target}"
                       title="{mainnavigationItem.title}"
                    >
                        {mainnavigationItem.title}
                    </a>
                </li>
            </f:for>
        </ul>
    </div>
</nav>
